body{
    margin: 0px;
}

.pagination{
    text-align: center;
}

.pagination a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color: greenyellow;
    border-radius: 5px;
    font-weight: bold;
}

.pagination a.active:hover{
    background-color: rgb(121, 180, 32);
}

.pagination a:hover:not(.active){
    background-color: rgb(186, 186, 186);
    border-radius: 5px;
}

h1{
    text-align: center;
}

.dropdown{
    display: inline-block;
}

.dropdown button{
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: greenyellow;
    padding: 10px 15px;
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.dropdown .content{
    position: absolute;
    display: none;
    box-shadow: 2px 2px 5px rgb(90, 90, 90);
    border-radius: 2px;
    min-width: 100px;
}

.dropdown:hover .content{
    display: block;
    border-radius: 3px;
}

.dropdown a:hover{
    background-color: rgb(199, 199, 199);
    border-radius: 3px;
}

.dropdown:hover button{
    background-color: rgb(131, 194, 37);
}

h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(62, 62, 62);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
    text-align: center;
    display: block;
}

.navbar a:hover{
    background-color: rgb(21, 21, 21);
}

.navbar li{
    float: left;
}

main{
    margin: 20px;
}